@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet');

html body {
    margin: 0;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$pColor: rgb(255,169,2);
$sColor: #161616;

$radius: 15px;

// div{
//      border: 1px solid black;
// }

.login-input{
    background-image: url(../assets/image/background.png);
    margin-top: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-circle{
    border-radius: 50%;
    background-color: $pColor;
    /*opacity: 0.8;*/
    width: 300px;
    img{
        width: 300px;
    }
}

.login-input{
    display: flex;
    flex-direction: column;
    margin-top: 40px;    
    input{
        box-sizing: border-box;
        margin: 7px;
        padding: 10px;
        width: 350px;
        height: 50px;
        border-radius: $radius;
        font-size: x-large;
        border-style: none;
        font-family: font-text; 
    }
    button {
        color: $pColor;
        background-color: $sColor;
    }

    // .loginBtn{
    //     color: $pColor;
    //     background-color: $sColor;
    // }
}

.container-nav{
    display: flex;
    justify-content: center;
    margin:0 10px;
    border-bottom: 1px solid #000000;

}

.main-nav{
    display: flex;
    justify-content: center;
    margin:0 10px;
}

.btn-menu{
    margin: 20px;
    width: 150px;
    padding: 10px;
    border-radius: $radius;
    color: $pColor;
    background-color: $sColor;
    border: none;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

//Estilos para seccion de menu

.containerMenu{
    display: flex;
    flex-direction: row;
    .containerCard{
        width: 55%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .containerOrder{
        width: 45%;
        margin: 15px 15px 15px 0px;
    }
}

.cardMenu{
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border-radius: $radius;
    border-style: solid;
    border-color: #ffa902;
    margin: 15px;   
}

.imgCard{
    width: 60px;
    height: 60px;
    margin: auto;
    padding: 5px;
}

.textCard{
    text-align: center;
    margin: 10px;
}

.customerOrder{
    display: flex;
    flex-direction: column;
    border-radius: $radius;
    border:solid;
    border-color: #ffa902;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 10px 15px;
 }

 th, td {
    // width: 25%;
    text-align: center;
    // border: solid black ;
 }

// .totalPrice{
//     background-color: burlywood;
// }

.headerOrder{
    display: flex;
    flex-direction: column;
}

.headerOrder input{
    width: 50%;
    margin: 10px;
    padding: 2px 5px;
    border-radius: 5px;
}

.iconDelete{
    width: 20px;
    justify-content: left;
}

.btnOrder{
    display: flex;
    justify-content: center;
    margin: 15px;
}

.btnSendOrder{
    width: 100px;
    height: 30px;
    background: #FFA902;
    border-radius: 15px;
}

//Estilos para seccion de cocina

.containerCook{
    display: flex;
    flex-direction: row;  
}

.cardOrder{
    width: 25%;
    border-radius: $radius;
    border-style: solid;
    border-color: #ffa902;
    margin: 15px; 
    padding: 10px 15px;
}


